body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f4ece0;
}

.container {
  border: 5px solid darkred;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}

.title {
  font-size: 50px;
}

.header-text {
  color: darkred;
}

.recipes-container {
  list-style: none;
  padding: 0;
}

.recipes a {
  text-decoration: none;
  color: darkred;
}

.recipes a:hover {
  text-decoration: underline;
}
