body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f4ece0;
  color: #454545;
}

.container {
  border: 5px solid darkred;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.title {
  font-size: 70px;
  font-weight: 700;
}

.header-text {
  font-family: "Amatic SC", cursive;
  color: darkred;
}

.section {
  font-size: 35px;
  margin-bottom: 0;
}

.recipes-container {
  list-style: none;
  padding: 0;
}

.recipes a {
  text-decoration: none;
  color: darkred;
}

.recipes a:hover {
  text-decoration: underline;
}

.container-prep {
  text-align: left;
}

.home-button {
  text-decoration: none;
  color: white;
  background-color: darkred;
  padding: 0.5em;
  border-radius: 1em;
}

.home-button:hover {
  transform: scale(1.1, 1.1);
}
